@page {
  margin: 25mm;
}

@media print {
  body {
    background: rgb(7, 128, 134) !important;
  }

  .cv-container {
    box-shadow: none !important;
    background: white !important;
    color: black !important;
  }

  .profile-img {
    border-color: #2b2be8 !important;
  }

  .icons img {
    filter: none !important;
  }
}

/* ===========================
       ESTILO GENERAL
    ============================ */
body {
  margin: 0;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at center, #2b2be8, #080859, #10161b49);
  color: #fff;
}

.cv-container {
  max-width: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.12);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

/* ===========================
       ENCABEZADO
    ============================ */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #4ec9a7;
  margin-bottom: 15px;
}

.icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons img {
  width: 40px;
  transition: 0.3s ease;
}

.icons img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #7fe7c4);
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 700;
}

.subtitle {
  font-size: 18px;
  color: #4ec9a7;
  margin-bottom: 20px;
}

/* ===========================
       SECCIONES
    ============================ */
h2 {
  font-size: 22px;
  margin-top: 40px;
  border-left: 4px solid #4ec9a7;
  padding-left: 10px;
  font-weight: 600;
}

p,
li {
  font-size: 15px;
  line-height: 1.6;
}

.section {
  margin-bottom: 25px;
}

ul {
  margin-top: 10px;
}

/* ===========================
       HABILIDADES
    ============================ */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.skill-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 15px;
  border-radius: 10px;
}

/* ===========================
       TIMELINE
    ============================ */
.timeline-item {
  margin-bottom: 15px;
}

/* ===========================
       FOOTER
    ============================ */
.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}