body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .Principal{
    width: 80%;
    margin: auto;
    
  }

  .div-profile {
    display: flex;
    padding-bottom: 20px;
  }

  .titles{
    font-size: 2.5rem;
    margin-left: 1%;
  }

  .title_profile, title{
    font-family: monospace;
    color: #221f20;
    font-size: 20px;
  }

  .profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: 20%;
  }

  .img-icon{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1px;
  }

 

  .skill i {
    margin-right: 5px;
  }

  h1 {
    color: #333;
    margin-top: 0;
  }

  h2 {
    margin-bottom: 5px;
  }

  

  .section:last-child {
    margin-bottom: 0;
  }

  .title {
    color: #007bff;
  }

  .subtitle {
    color: #dc3545;
  }

  .info {
    margin: 5px;
    margin-bottom: 10px;
    text-align: justify;
  }

  .personal-info {
    font-size: 20px;
    width: 35%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
  }

   /* Estilos nuevos agrgados> */
   .icon {
    font-size: 40px;
    transition: transform 0.3s, font-size 0.3s;
  }
  
  .icon:hover {
    font-size: 22px;
    transform: scale(1.5);
  }

  .skill {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 14px;
  }

  .acreca-mi{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
  }

  .experience,
  .education,
  .project {
    margin-bottom: 10px;
  }

  .experience h3,
  .education h3,
  .project h3 {
    color: #007bff;
    margin-bottom: 5px;
  }

  .experience p,
  .education p,
  .project p {
    margin: 0;
    text-align: justify;
  }

  .profile {
    display: flex;
    align-items: center;
  }

 

  .personal-info {
    text-align: justify;
  }

 

  .separator {
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  .icon {
    margin-right: 5px;
  }

  .contact-info {
    margin-top: 10px;
  }

  .contact-info a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }

  /* Inicio de estilos de Habilidades */

   /* Estilos para el título */
   h3 {
    position: relative;
    display: inline-block;
    padding-left: 80px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    transition: color 0.3s ease;
  }

  /* Estilos para el Mantenimiento de computadoras */
  h3.computadoras::before {
    content: "\f5fc"; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #0e9841;
  }

  /* Estilos para la animación de color del icono */
  h3.computadoras:hover::before {
    color: #5267b4;
  }

  /* Estilos para la animación de transformación del icono */
  h3.computadoras:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para las listas */
  .Habilities ul {
    list-style: none;
    padding-left: 0;
  }

  .Habilities li {
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.3s ease;
  }

  .Habilities li::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .Habilities li:hover {
    color: #00ff00;
  }

  .Habilities li:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para los iconos de cada habilidad */
  .Habilities .activacion-programas::before {
    content: "\f121"; /* Código del icono de Font Awesome para Activacion de Programas (puedes cambiarlo) */
  }

  .Habilities .limpieza-virus::before {
    content: "\e06c"; /* Código del icono de Font Awesome para Limpieza de Virus (puedes cambiarlo) */
  }

  .Habilities .cambio-componentes::before {
    content: "\f0e7"; /* Código del icono de Font Awesome para Cambio de Componentes (puedes cambiarlo) */
  }

  .Habilities .actualizaciones::before {
    content: "\f021"; /* Código del icono de Font Awesome para Actualizaciones (puedes cambiarlo) */
  }


   /* Inicio de estilos de Office */
  h3.Office::before {
    content: "\f674"; /* Código del icono de Font Awesome para Computadoras (puedes cambiarlo) */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #00239f;
  }

  /* Estilos para la animación de color del icono */
  h3.computadoras:hover::before {
    color: #5267b4;
  }

  /* Estilos para la animación de transformación del icono */
  h3.computadoras:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para las listas */
  .Habilities ul {
    list-style: none;
    padding-left: 0;
  }

  .Habilities li {
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.3s ease;
  }

  .Habilities li::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #26ae73a0;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .Habilities li:hover {
    color: #003cff;
  }

  .Habilities li:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para los iconos de cada habilidad */
  .Habilities .Documentos::before {
    content: "\f1c2";
  }

  .Habilities .Calculos::before {
    content: "\f1c3"; 
  }

  .Habilities .Presentaciones::before {
    content: "\f1c4"; 
  }




  /* Inicio de estilos para Edicion de medios Digitales */
  h3.Disain::before {
    content: "\f044"; /* Código del icono de Font Awesome para Computadoras (puedes cambiarlo) */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #289f00;
  }

  /* Estilos para la animación de color del icono */
  h3.computadoras:hover::before {
    color: #5267b4;
  }

  /* Estilos para la animación de transformación del icono */
  h3.computadoras:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para las listas */
  .Habilities ul {
    list-style: none;
    padding-left: 0;
  }

  .Habilities li {
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.3s ease;
  }

  .Habilities li::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #26ae73a0;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .Habilities li:hover {
    color: #003cff;
  }

  .Habilities li:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para los iconos de cada habilidad */
  .Habilities .Edicion-de-fotografia::before {
    content: "\f87c";
  }

  .Habilities .Edicion-de-video::before {
    content: "\f008"; 
  }

  .Habilities .Di-sain::before {
    content: "\e190"; 
  }

  .Habilities .A-nimation::before {
    content: "\e409"; 
  }

  .Habilities .app::before {
    content: "\f37e"; 
  }

  .Habilities .Edit-Audio::before {
    content: "\f1c7"; 
  }

  

  /* Inicio de estilos para Diseño Web */
  h3.DisainWeb::before {
    content: "\f121"; /* Código del icono de Font Awesome para Computadoras (puedes cambiarlo) */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #9f0040;
  }

  /* Estilos para la animación de color del icono */
  h3.computadoras:hover::before {
    color: #5267b4;
  }

  /* Estilos para la animación de transformación del icono */
  h3.computadoras:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para las listas */
  .Habilities ul {
    list-style: none;
    padding-left: 0;
  }

  .Habilities li {
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.3s ease;
  }

  .Habilities li::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #26ae73a0;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .Habilities li:hover {
    color: #003cff;
  }

  .Habilities li:hover::before {
    transform: translateY(-50%) rotate(360deg);
  }

  /* Estilos para los iconos de cada habilidad */
  .Habilities .htmll::before {
    content: "\f1c4";
  }

  .horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .horizontal ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .horizontal li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    text-align: center;
  }
  
  .horizontal img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  

  