.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .icon-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .icon-link:hover {
    color: #f00; /* Cambia el color al pasar el ratón sobre los íconos */
  }
  